* {
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.float-left {
    float: left;
}
.game-menu {
   /* width: 200px;*/
    margin: 0 auto;
}
.player-images {
    /*overflow-y: scroll;*/
}
.player-images img {
    /*display: block;*/
}
.player-images img:hover {
    cursor: pointer;
    background: aliceblue;
}
.game-canvas {
    margin-top: -50px;
}
.count-wins {
    font-size: 35px;
    color: #646460
}
.count-hearts img {
    width: 50px;
}
.gameover {
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
}
.gameover p {
    color: #fff;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}